*{
  box-sizing: border-box;
  font-family: Nunito Sans;
  padding: 0;
  margin: 0;
}
.navbar-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 -20px 10px -22px rgba(0,0,0,0.45) inset;
}
.navbar-inner > h1{
  font-weight: 800;
  font-size: 20px;
}
.navbar-button{
  display: flex;
  align-items: center;
  gap: 5%;
}
.navbar-button > button {
  border: none;
  background-color: hsl(0, 0%, 100%);
}
.navbar-button > button > p{
  font-weight: 600;
  width: 70px;
}
.searchBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  gap:1rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: hsl(0, 0%, 95%);
}
.searchBar > span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  width: max-content;
  border-radius: 5px;
  gap: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
}
input[type=text]{
  outline: none;
  border: none;
  font-weight: 600;
}
input[type=text]:focus{
  outline: none;
  border: none;
}
.searchBar > select{
  padding: 0.5rem;
  border: none;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  outline: none;
  font-weight: 600;
}

.button{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  gap:2rem;
}
a {
  text-decoration: none;
}
.card{
  flex-basis: 20%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 18rem;
  color: black;
}
.card > img{
  min-width:15rem;
  height: 8rem;
  border-radius: 5px;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  padding-bottom: 1rem;
  text-wrap: nowrap;
  gap: 0.4rem;
}
.card-text> h2{
  font-size: 1rem;
  font-weight: 700;
  text-wrap: wrap;
}
.card-text > span{
  font-size: 13px;
}
.card-text > span > span{
  font-size: 12px;
  color: hsl(0, 0%, 52%);
  text-wrap: wrap;
}

.light{
  color: hsl(200, 15%, 8%);
}

.error{
  display: flex;
  justify-content: center;
  color: #FF3D00;
}

/* Loader CSS */
.loader {
  width: 150px;
  height: 150px;
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  transform: rotate(45deg);
  animation: rotate 2s linear infinite;  
}
.loader:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 60px;
  background: #FF3D00;
  transform: skew(5deg , 60deg) translate(-50%, -5%);
}

.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform:translate(-50% , -50%);
}

@keyframes rotate {
  0% { transform: rotate(45deg)}
  30% , 50% , 70%  { transform: rotate(230deg)}
  40% , 60% , 80% { transform: rotate(240deg)}
  100% {  transform: rotate(245deg)}
}


/* Dark Mode CSS */


.dark{
  background-color:  hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.dark .navbar-button > button{
  background-color:  hsl(207, 26%, 17%);
  color: white;
}


.searchBar-dark{
  color: white;
  background-color: hsl(209, 23%, 22%) !important;
}
.searchBar-dark input{
  color: white;
  background-color: hsl(209, 23%, 22%);
}

.dark select{
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.dark .card{
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.dark .navbar-button > button{
  background-color: hsl(209, 23%, 22%);
}
.dark .navbar-inner{
  background-color: hsl(209, 23%, 22%);
}

.dark .detailedCard{
  background-color: hsl(207, 24%, 18%);
}
.dark a > button{
  background-color: hsl(209, 23%, 22%);
}

/* Page 2 */

.detailedCard{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap:2rem;
  width: 80%;
  height: 100vh;
  padding: 1%;
}
a > button {
  border: 0;
  /* background-color: transparent; */
  color: gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  border-radius: 13px;
}
.detailedCard-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 30rem;
}
.detailedCard-left{
  height: 20rem;
  width: 40%;
  display: flex;
  justify-content: center;
}
.detailedCard-left > img{
  width:16rem;
  height: 10rem;
}
.detailedCard-right{
  display: flex;
  flex-direction: column;
  height: 23rem;
  width: 60%;
}
.other-content{
  display:flex;
  gap: 2rem;
  
}
.borders{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}
.other-content > div > p > span{
  color: gray;
}
.borders a > button{
  padding: 0.5rem;
}
.borders-bnt{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}



@media (max-width : 600px) {
  .searchBar{
    flex-direction: column;
  }
  .searchBar > span{
    width: 100%;
  }
  .searchBar > select{
    width: 100%;
  }
  .detailedCard{
    padding: 1%;
    gap: 5rem;
    height: 110vh;
  }
  .detailedCard-content{
    flex-direction: column;
  }
  .other-content {
    flex-direction: column;
  }
  .borders{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .borders-bnt{
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
  }
  .borders a > button{
    padding: 0.3rem;
  }
  .cards{
    height: 100%;
  }
}